.gradient-background {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #3dbbb1, #09accb);
}

.button_shape {
    -fx-background-radius: 50;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
}

.figure {
    -fx-background-radius: 50;
}

.admin-panel-highlight {
    -fx-background-radius: 0 20 20 0;
}

.decision {
    -fx-background-color:  linear-gradient(from 50% 50% to 100% 100%, #33cc33, #FFFFFF);
    -fx-background-radius: 300;
}

.decision:hover {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #009933, #FFFFFF);
    -fx-background-radius: 300;
}

.decision:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.management {
    -fx-background-color:  linear-gradient(from 50% 50% to 100% 100%, #ffcc66 , #FFFFFF);
    -fx-background-radius: 200;
}

.management:hover {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #ff9900, #FFFFFF);
    -fx-background-radius: 200;
}

.management:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.permissions {
    -fx-background-color:  linear-gradient(from 50% 50% to 100% 100%, #ff5050, #FFFFFF);
    -fx-background-radius: 200;
}

.permissions:hover {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #ff0000, #FFFFFF);
    -fx-background-radius: 200;
}

.permissions:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.analysis {
    -fx-background-color:  linear-gradient(from 50% 50% to 100% 100%, #6699ff, #FFFFFF);
    -fx-background-radius: 200;
}

.analysis:hover {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #6666ff, #FFFFFF);
    -fx-background-radius: 200;
}

.analysis:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.quit {
    -fx-background-color: #222343;
    -fx-background-radius: 200;
}

.quit:hover {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #ff0000, #ff3300);
    -fx-background-radius: 200;
}

.quit:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.back {
    -fx-background-color: #222343;
    -fx-background-radius: 200;
}

.back:hover {
    -fx-background-color: #4e5083;
    -fx-background-radius: 200;
}

.back:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.add {
    -fx-background-color: #222343;
    -fx-background-radius: 300;
}

.add:hover {
    -fx-background-color: #48a74c;
    -fx-background-radius: 300;
}

.add:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.refresh {
    -fx-background-color: #222343;
    -fx-background-radius: 300;
}

.refresh:hover {
    -fx-background-color: #b2d4ef;
    -fx-background-radius: 300;
}

.refresh:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.add-permission {
    -fx-background-color: #48a74c;
    -fx-background-radius: 300;
}

.add-permission:hover {
    -fx-background-color: #009900;
    -fx-background-radius: 300;
}

.add-permission:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.login {
    -fx-background-color: #48a74c;
    -fx-background-radius: 300;
}

.login:hover {
    -fx-background-color: #009900;
    -fx-background-radius: 300;
}

.login:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.cancel {
    -fx-background-color: #ff0000;
    -fx-background-radius: 200;
}

.cancel:hover {
    -fx-background-color: #cc0000;
    -fx-background-radius: 200;
}

.cancel:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

 .delete {
     -fx-background-color: #222343;
     -fx-background-radius: 300;
 }

.delete:hover {
    -fx-background-color: #e84033;
    -fx-background-radius: 300;
}

.delete:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius: 300;
}

.table-view1 {
    -fx-background-color:#222343;
    -fx-background-radius:20 20 10 10;
}
.table-view1 .column-header-background{
    -fx-background-color: #222343;
    -fx-background-radius:20;
    -fx-background-insets: 0 0 0 0;
}
.table-view1 .column-header, .table-view .filler{
    -fx-size:30px;
    -fx-border-width: 10 10 10 10;
    -fx-background-color:transparent;

}

.table-view1 .column-header .label {
    -fx-text-fill: white;
}

.slide-buttons {
    -fx-background-color: #222343;
    -fx-background-radius:0 10 10 0;
}

.slide-buttons:hover {
    -fx-background-color: #4e5083;
    -fx-background-radius:0 10 10 0;
}

.slide-buttons:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius:0 10 10 0;
}